{% extends './base.html.twig' %}

{% block main %}
<a href="/trains"><button class="back-btn">Back</button></a>
	{{form(form)}}
	{% for message in app.flashes('error') %}
            <div class="alert-error">
                {{ message }}
            </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script>

	</script>
{% endblock %}
